@model Weby.Models.ViewModels.NewReservationViewModels

@{
    ViewBag.Title = "Edytuj rezerwację";
}

<script type="text/javascript">
    busyDays = @Html.Raw(Json.Encode(ViewBag.BusyDays));
    usersDays = @Html.Raw(Json.Encode(ViewBag.UsersDays));
</script>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <br/>
    <div>
        <div class="col-sm-7 col-md-6 col-lg-5 col-lg-offset-1">
            <div id="calendar" picker="true"></div>
            @Html.HiddenFor(model => model.Dates)
        </div>

        <div class="col-sm-5 col-lg-4">
            <div class="form-horizontal">

                <div class="msg">
                    Wybierz na kalendarzu pierwszy i ostatni dzień okresu, który chcesz zarezerwować i potwierdź przyciskiem "Rezerwuj"
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                


                <div id="busy-msg" class="error msg" style="display: none">
                    Nie możesz wybrać tych dni, ponieważ w tym czasie została już złożona inna rezerwacja
                </div>

                <div class="form-group" style="margin: auto;">
                        <input type="submit" value="Zapisz" class="btn btn-success" />
                        @Html.ActionLink("Anuluj", "Index", new { }, new { @class = "btn btn-default", @role = "button" })
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
