@model IEnumerable<Weby.Models.UserViewModel>

@{
    ViewBag.Title = "Użytkownicy";
}

<h2>Użytkownicy</h2>

@*@Html.AntiForgeryToken()*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActivated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
    </tr>

@foreach (var user in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => user.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => user.LastName)
        </td>
        <td>
            @if (user.IsActivated)
            {
                @Html.ActionLink("Deaktywuj", "Deactivate", new { id = user.Id }, new { @class = "btn btn-success", @role = "button" })
            }
            else
            {
                @Html.ActionLink("Aktywuj", "Activate", new { id = user.Id }, new { @class = "btn btn-default", @role = "button" })
            }
        </td>
        <td>
            @if (user.IsActivated)
            {
                if (user.IsAdmin)
                {
                    @Html.ActionLink("Usuń Admina", "RemoveAdmin", new { id = user.Id }, new { @class = "btn btn-warning", @role = "button" })
                }
                else
                {
                    @Html.ActionLink("Nadaj Admina", "MakeAdmin", new { id = user.Id }, new { @class = "btn btn-default", @role = "button" })
                }
            }
        </td>

        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
